.h1 {
	font-family: Cambria;
	text-align: center;
}

p {
	float: left;
	border: 2px solid;
    border-radius: 25px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: Cambria;
    background-color: #9494FF;
    color: #FFFFFF;
    clear: left;
}